.git
.gitignore
.dockerignore

.env
.env.*
!.env.example

**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/
**/[Ll]og/
**/[Ll]ogs/

.vs/
.vscode/
TestResults/
coverage*.json
coverage*.xml
coverage*.info

*.user
*.suo
*.rsuser
*.log
*.tmp
*.pdb

docs/
